body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
div {
  form{
    label{

    }
    input{
      
    }
    button{
    
    }
  }

button{
  
}
}
div{
  button{

  }
}
    div{

    }
    div{
      
    }